
.product-list-container{
    width: 80%;
    margin-left: 8em;
  
}

.main-content{
    display: flex;
    flex: 1;
    margin-left: 1em;
   

}
.product-grid{
    max-width: 900px;
    background-color: #F4F6FB ;
    position: relative;
    border-top: 1px solid #eee;
    padding: 8px;
}