 /* Sidebar */
 *{
    text-decoration: none;
    color: var(--colors-base-black);
  
 }
 .sidebar {
    width: 250px;
    background-color: #ffffff;
    padding: 0.1rem;
    border-right: 1px solid #e0e0e0;
    height: calc(100vh-1rem);
    position: relative;
    top: 0.1rem; /* Keep it below the header */
   overflow: hidden;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.1rem;
    padding: 0.1rem;
    border-bottom: solid 0.1em #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: 500;
  }

  .sidebar img{
    background-color: #f1f1f1;
    height: 3.5em;
    width: 4em;
    border-radius: 8px;
    margin: 0.5em;
  }
  .sidebar p{
    float: right;
  }
  
  .sidebar li:hover {
    background-color: #DBF5CE;
  }

  @media (max-width: 780px) {
    .sidebar{
        visibility: collapse;
    }
  }