.category-banner{

  background-color: #fff;
    border: none;
    margin: 12px;
}
/* .category-filter{
  padding: 8px 0 4px 12px;
        background: none;
        border: none;
        display: block;
        margin: 0;
        padding: 0;
        padding-right: 16px;
        float: right;
        position: absolute;
        right: 25px;
        top: -48px;
        z-index: 1;
        margin-top: 4px;
    } */

/* Sale Coupoun */
.coupon-list {
    display: none;
    margin-top: 1em;
    margin-bottom: 2em;
  }
  

  .hero-image-small {
    display: block;
    width: 100%;
    height: auto;
  }

  @media (min-width: 1001px) {
    .hero-image-small {
      display: none; /* Hide the small hero image */
    }
    
    .coupon-list {
      display: flex;
      gap: 1em;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .coupon-image {
      width: 300px;
      height: auto;
    }
  }